@model IEnumerable<eMusicStore.Web.Models.Album>

@{
    ViewBag.Title = "浏览专辑";
}

<div class="col-md-12">
    <h3>@ViewBag.Genre 的专辑</h3>
    <ul class="list-unstyled list-inline">
        @foreach (var album in Model)
        {
            <li>
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" /><br />
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
