@model IEnumerable<eMusicStore.Web.Models.Album>

@{
    ViewBag.Title = "专辑浏览";
}

<h2>@ViewBag.Title</h2>
<hr />
<p>
    @Html.ActionLink("新建专辑", "Create", null, new { @class = "btn btn-default" })
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Artist.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th style="width:200px; text-align:center;">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Artist.Name)*@
                        @Html.Truncate(item.Artist.Name, 10)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Genre.Name)*@
                        @Html.Truncate(item.Genre.Name, 10)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Title)*@
                        @Html.Truncate(item.Title, 10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td style="text-align:center;">
                        @Html.ActionLink("编辑", "Edit", new { id = item.AlbumId }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("详情", "Details", new { id = item.AlbumId }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("删除", "Delete", new { id = item.AlbumId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>